.badger {
	position: absolute;
	width: 37px;
	height: 71px;

	background-image: url(../../img/badger.png);

	bottom: -40px;
	left: -18px;

	-webkit-animation: badger 1s steps(16, end) infinite alternate;
}

@-webkit-keyframes badger {
	from {
		background-position: 0px;
	}
	to {
		background-position: -592px;
	}
}