.bomb {
	position: absolute;
	width: 42px;
	height: 21px;
	background-image: url(../../img/bomb.png);

	bottom: 0;
	left: -21px;

	-webkit-animation: bomb 2s steps(2, end) infinite;
	animation: bomb 2s steps(2, end) infinite;

	-webkit-transform-origin: center center;
	transform-origin: center center;

}

@-webkit-keyframes bomb {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 0px -42px;		
	}
}
@keyframes bomb {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 0px -42px;		
	}
}
.bomb.exploaded {
	background-image: none;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0.4;
	width: 640px;
	height: 640px;
	left: -320px;
	bottom:  -320px;

	border-radius: 50%;
	border: solid 10px white;


	-webkit-animation: bomb-exploation 4s;
	animation: bomb-exploation 4s;

}

@-webkit-keyframes bomb-exploation {
	from {
		-webkit-transform: scale3d(.001, .001, .001);
	}
	to {
		-webkit-transform: scale3d(50, 50, 50);
	}
}
@keyframes bomb-exploation {
	from {
		transform: scale3d(.001, .001, .001);
	}
	to {
		transform: scale3d(50, 50, 50);
	}
}