.hud {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.hud .message {
	position: absolute;
	background-color: white;
	border: solid 1px #cfcfcf;
	padding: 5px;
	border-radius: 5px;
	top: 5px;
	right: 5px;
	font-weight: bold;
}

.hud .clock,
.hud .adrenalin-level {
	position: absolute;
	left: 5px;
	height: 35px;
	width: 122px;
	background-repeat: no-repeat;

}

.hud .clock {
	top: 5px;
	background-image: url(../../img/clock.png);
	background-position: 0px 3px;
	color: red;	
}

.hud .adrenalin-level {
	top: 45px;
	height: 35px;
	background-image: url(../../img/adrenalin.png);
	background-position: 3px 0px;
}

.hud .clock > div,
.hud .adrenalin-level > div {
	border: solid 1px black;
	margin-left: 35px;
	margin-top: 9px;
	height: 15px; 
	position: relative;
}
.hud .clock > div > div,
.hud .adrenalin-level > div > div {
	width: 50%;
	height: 100%;
}
.hud .clock > div > div {
	background-color: #e05721;
}

.hud .adrenalin-level > div > div {
	background-color: #d9e021;
}

.level {
	position: absolute;
	bottom: 0;
	left: 0;
}
.sky {
	background-color: #bcccff;	
	position: absolute;
	top: 0;
	left: 0;
	width: 640px;
	height: 640px;

	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

.exploaded.viewport {
	-webkit-animation: viewport-explosion 0.01s 100;
	-o-animation: viewport-explosion 0.01s 100;
	-ms-animation: viewport-explosion 0.01s 100;
	-moz-animation: viewport-explosion 0.01s 100;
	animation: viewport-explosion 0.01s 100;
}


@-webkit-keyframes viewport-explosion {
	0% {
		-webkit-transform: translate3d(10px, 10px, 0px);
	}

	5% {
		-webkit-transform: translate3d(-10px, 0px, 0px);
	}

	100% {
		-webkit-transform: translate3d(0px, -10px, 0px);
	}
}
@-o-keyframes viewport-explosion {
	0% {
		-o-transform: translate3d(10px, 10px, 0px);
	}

	5% {
		-o-transform: translate3d(-10px, 0px, 0px);
	}

	100% {
		-o-transform: translate3d(0px, -10px, 0px);
	}
}
@-ms-keyframes viewport-explosion {
	0% {
		-ms-transform: translate3d(10px, 10px, 0px);
	}

	5% {
		-ms-transform: translate3d(-10px, 0px, 0px);
	}

	100% {
		-ms-transform: translate3d(0px, -10px, 0px);
	}
}
@-moz-keyframes viewport-explosion {
	0% {
		-moz-transform: translate3d(10px, 10px, 0px);
	}

	5% {
		-moz-transform: translate3d(-10px, 0px, 0px);
	}

	100% {
		-moz-transform: translate3d(0px, -10px, 0px);
	}
}
@keyframes viewport-explosion {
	0% {
		transform: translate3d(10px, 10px, 0px);
	}

	5% {
		transform: translate3d(-10px, 0px, 0px);
	}

	100% {
		transform: translate3d(0px, -10px, 0px);
	}
}