.hud {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hud .clock {
	position: absolute;
	left: 5px;
	right: 5px;
	color: red;	
}

.hud .runBubble {
	position: absolute;
	width: 68px;
	height: 52px;
	background-image: url(../../img/run.png);
	top: -6px;
	left: 331px;
}



.level {
	position: absolute;
	bottom: 0;
	left: 0;
}
.sky {
	background-color: #bcccff;	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
