.platform {
	position: absolute;
	bottom: 0;
	left: 0;
}
.platform canvas {
	position: absolute;
	bottom: 0;
}


.platform.background1,
.platform.background2,
.platform.background3 {
	opacity: 0.5;
}

